.grid-container {
    width: 75%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.btn button{
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    background: #4267B2;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.btn input, select {
    border-style: none;
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: 1em;
}

a, a:visited{
    color: #4267B2;
}

.inputSpan{
    display: inline-block;
    margin: 0 10px;
}

